.header {
    display: flex;
    width: 100%;
    padding: 0 0.5rem;
    height: 5rem;
    align-items: center;
    justify-content: space-between;  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
}

.header-link{
    color:#C2B35E;
    text-decoration: none;
}

.hamburger {
    border: none;
    background-color: inherit;
    margin-left:1rem;
}

.hamburger span {
    display: block;
    width: 27px;
    height: 4px;
    margin: 5px auto;
    background-color: #C2B35E;
}

.github{
    background-color: #C2B35E;
    border-radius: 50%;
}



.sidebar {   
    height: fit-content;
    padding:0.5rem;
    left: 8%;
    width: 90%;
    position: fixed;
    overflow: auto;
    top: 0.5%;
    list-style-type: none;
    z-index: 4;  
    background-color: #00070C;
    border-width: 3px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            #C2B35E,
            #847E7E)1 100;
    animation-name: examples;
    animation-duration: 2s;
    box-sizing: border-box;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li{
    display: flex;
    align-items: center;
}

/* Sidebar links */
.sidebar a {
    text-decoration: none;
    padding:0.5rem;
    font-family: 600;
    color: #C2B35E;
    box-sizing: border-box;
    margin: 0.3rem 0;
    border-radius: 5px;
}

.sidebar a:hover{
    background-color: whitesmoke;
    color: #14605A;
}

.star{
    color: #14605A;
}

@media screen and (min-width:750px) and (max-width:1000px) {
    .drop-down {
        width: 20%;
        left: calc(100% - 20%);
    }

    .sidebar{
        left:48%;
        width:50%;
    }
}

@media screen and (min-width:1000px) {
    .drop-down {
        width: 15%;
        left: calc(100% - 16%)
    }

    .sidebar {
        left: 68%;
        width: 30%;
    }
}


/*TRANSITION PROPERTIES **/
@keyframes examples {
    from {
        opacity: 0;
    }

    to {
       opacity: 1;
    }
}
